@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto+Condensed:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Instrument Serif', serif;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
#header{
    width: 100%;
    height: 100vh;
    background-image:url(/Src/20230318_121111.jpg);
    background-position: center;
    background-size: cover;
}
.container{
padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 200px;
    transition: 0.5s;
}
.logo:hover{
    transform: scale(1.1);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 35px;


}
nav ul li a{
    color:#fff;
    text-decoration: none;
    position: relative;
    font-size: 28px;
    transition: 0.5s;
}
nav ul li a:hover{
    font-size: 38px;
    color: #000000  ;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    font-size: 38px;
}
.headr-text{
    margin-top: 17%;
    font-size: 30px;
}
.headr-text h1{
    font-size: 50px;
    margin-top: 15px;
}
.headr-text h1 span{
    color: #ae0e0e;
}
/* ------------------------ABOUT----------------------- */
#about{
    padding: 80px 0 ;
    color: #ababab  ;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #000000;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;


}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff0000;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
} 
/* ------------services -------------------------------- */
#services{
    padding-inline-start: 30px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
#myservise{
    color: #fff;
}
.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    color: #fff;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
     font-size: 50px;
     margin-bottom: 30px ;

}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a {
    text-decoration: none;
    color: #fff ;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    transition: 0.5s;
}
.services-list div a:hover{
    color: #000000;
    font-size: 18px;
}
.services-list div:hover{
    background: #f60808ca;
    transform: translateY(-10px);
}
/* ----------portfolio---------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px; 
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition:  0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff0000b1);
    border-radius: 10px; 
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}
.layer a{
    margin-top: 20px;
    color:#ff0000;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background:#fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}                          
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffffff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    transition: background 0.5s ease;
}
.btn:hover{
    background: #ababab;
}
/* -----------contact-------------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 65%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ababab;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ffffff;
    display: inline-block;
    transition: transform 0.5s ease;
}
.social-icons a:hover{
    color: #ababab;
    transform: translateY(-5px);
}
.btn.btn2{
    color: #ae0e0e;
    display: inline-block;
    background: #000000;
}
.contact-right form{
width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 40px ;
    font-size: 18px;
    margin-top:20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0 ;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright p{
    color: #fff;
}
.copyright i{
    color: #ff0000;
}
/* ------------------CSS FOR SMALL SCREEN ---------------------- */
nav .bx{
    display: none;
}
@media only screen and (max-width: 600px){
    #header {
        background-image: url(/Src/20230318_121223.jpg);
    }
    .headr-text {
        margin-top: 100%;
        font-size: 16px;
        padding-left: -20px;
    }
    .headr-text h1{
        font-size: 30px;
        color: #ffffff;
        
    }
    .headr-text p{
       color: #ae0e0e;
    }
    nav .bx{
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #ae0e0e;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .bx{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .logo{
        width: 120px;
    }
    .sub-title{
        font-size: 30px;
        color: #ae0e0e;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left h1{
        color: #ffffff;
    }
    .contact-left p{
        color: #ffffff;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
}
#msg{
    color: aliceblue;
    margin-top: -40px;
    display: block;
}